.random-elements-list-container {
    height: 95vh;
    padding: 8px;

    .viewport {
        height: 100%;

        .random-element-container {
            height: 200px;
            margin-bottom: 16px;
            margin-right: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
