.random-element {
    display: flex;

    .photo {
        width: 200px;
        height: 200px;
        min-width: 200px;
        border-radius: 5px 0 0 5px;
    }

    .content {
        padding-left: 16px;
        padding-right: 16px;
        overflow: auto;
        max-height: 200px;
    }
}
